#logo {
    position: relative;
    float: right;
}


* {
    box-sizing:  border-box;
}

html, body {
    background-color: #333;
    color: #fff;
/*    height: 100%;
    width: 100%;
*/
    margin: 0;
    font-family: sans-serif;
    font-weight: 200;

    scrollbar-color: red yellow;
    scrollbar-width: thin;
}

.headerSeparator {
    height: 40px;
    margin: 10px;
    position: absolute;
    border-right: 1px solid #fff;
}

.aboutbox {
    margin: 10px;
    padding: 10px;
    /* simulate the inset, rounded main panel on the Synergy */
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 3px groove #666;
}

.headerContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    margin: 10px;
    height: 60px;

    /* simulate the inset, rounded main panel on the Synergy */
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 3px groove #666;
}
.header {
    /*    float: top;*/
    margin: 0px;

}
.contentContainer {
    position: fixed;
    top: 90px;
    width: 100%;
    height: 100%;
}

.logo {
    float: right;
    overflow: auto;
    padding: 8px;
}

.connectionStatus {
    float: left;
    height: 100%;
    overflow: auto;
    padding: 18px;
}

.left {
/*    background-color: #333;*/
    color: #fff;
    float: left;
    height: 100%;
    overflow: auto;
    padding: 15px;
    width: 20em;
}

.dir {
    cursor: pointer;
    padding: 3px;
}

.file {
    cursor: pointer;
    padding: 3px;
}

.dir .fa {
    margin-right: 5px;
}

.file .fa {
    margin-right: 10px;
}

.right {
    float: right;
    height: 100%;
    overflow: auto;
    padding: 15px;
    /*width: 60%;*/
}

.title {
    font-size: 1.5em;
    text-align: center;
    word-wrap: break-word;
}

#path {
    font-size: 1.1em;
    text-align: center;
    word-wrap: break-word;
    font-weight: 1000;
}

.panel {
    background-color: #f1f1f1;
    border: solid 1px #e1e1e1;
    border-radius: 4px;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
}

.stat {
    font-weight: bold;
}

.chart_title {
    margin-bottom: 5px;
}

  
